<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">

    <context:component-scan base-package="pl.sdacademy.spring.beans" />

    <bean id="maciekUser" class="pl.sdacademy.spring.beans.User">
        <constructor-arg index="0" value="maciek"/>
        <constructor-arg index="1" value="maciek@example.com"/>
    </bean>

    <bean id="weronikaUser" class="pl.sdacademy.spring.beans.User">
        <constructor-arg index="0" value="weronika"/>
        <constructor-arg index="1" value="weronika@example.com"/>
    </bean>

    <bean id="springProject" class="pl.sdacademy.spring.beans.Project">
        <constructor-arg index="0" value="Spring Project"/>
    </bean>
    <bean id="oldJavaOneSixProject" class="pl.sdacademy.spring.beans.Project">
        <constructor-arg index="0" value="Old java 1.6 project"/>
    </bean>

    <bean id="collectionBean"
          class="pl.sdacademy.spring.beans.CollectionsBean">
        <property name = "names">
            <list>
                <value>Paul</value>
                <value>Jessica</value>
                <value>Philip</value>
            </list>
        </property>

        <property name="projects">
            <list>
                <ref bean="springProject"/>
                <ref bean="oldJavaOneSixProject"/>
            </list>
        </property>

        <property name = "countries">
            <set>
                <value>Chine</value>
                <value>Poland</value>
                <value>USA</value>
                <value>France</value>
            </set>
        </property>

        <property name = "scores">
            <map>
                <entry key-ref = "maciekUser" value = "0"/>
                <entry key-ref = "weronikaUser" value = "99"/>
            </map>
        </property>
    </bean>
</beans>