<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">

    <context:component-scan base-package="pl.sdacademy.spring.beans" />

    <bean id="helloWorldService"
          class="pl.sdacademy.spring.beans.HelloWorldService">
        <property name="name" value="service1" />
    </bean>

    <bean id="helloWorldService2"
          class="pl.sdacademy.spring.beans.HelloWorldService2"
          init-method="init" destroy-method="destroyAll" lazy-init="true">
        <property name="name" value="service2" />
    </bean>


    <bean id="helloWorldService3"
          class="pl.sdacademy.spring.beans.HelloWorldService3">
        <property name="name" value="service3" />
    </bean>

    <bean id="helloWorldService4"
          class="pl.sdacademy.spring.beans.HelloWorldService4">
        <property name="name" value="service4" />
    </bean>

    <bean class="pl.sdacademy.spring.beans.UserService" destroy-method="destroy" lazy-init="true">

    </bean>

    <bean class = "pl.sdacademy.spring.beans.HelloPostProcessor"/>
</beans>