<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">

    <context:component-scan base-package="pl.sdacademy.spring.beans" />

    <bean id="repository"
          class="pl.sdacademy.spring.beans.DummyUsersRepository">  <!-- autowire="byType"> -->
         <property name="daoService" ref="dummyDao" />
    </bean>

    <bean id="dummyDao"
          class="pl.sdacademy.spring.beans.DummyDaoService" lazy-init="true">
        <property name="dbAddress" value="localhost" />
    </bean>

    <bean id="userController"
          class="pl.sdacademy.spring.beans.UserController">
        <constructor-arg index="0" ref = "repository"/>
        <constructor-arg index="1" type="java.lang.String" value="andrew12"/>
    </bean>


</beans>